version: "3"

networks:
  frontend:
    driver: ${NETWORKS_DRIVER}
  backend:
    driver: ${NETWORKS_DRIVER}

volumes:
  code:
    driver: ${VOLUME_DRIVER}

services:
  workspace:
    build:
      context: ${LOCAL_DOCKER_PATH}/workspace
      args:
        - ARG_CONTAINER_CODE_PATH=${CONTAINER_CODE_PATH}
        - ARG_WORKSPACE_INSTALL_SWOOLE=${WORKSPACE_INSTALL_SWOOLE}
        - ARG_WORKSPACE_INSTALL_MONGODB=${WORKSPACE_INSTALL_MONGODB}
        - ARG_WORKSPACE_INSTALL_REDIS=${WORKSPACE_INSTALL_REDIS}
        - ARG_APP_RUN_PUID=${APP_RUN_PUID}
        - ARG_APP_RUN_PGID=${APP_RUN_PGID}
        - ARG_APP_RUN_NAME=${APP_RUN_NAME}
        - ARG_APP_RUN_GROUP=${APP_RUN_GROUP}
        - ARG_TIMEZONE=${TIMEZONE}
        - ARG_WORKSPACE_INSTALL_NPM=${WORKSPACE_INSTALL_NPM}
        - ARG_WORKSPACE_INSTALL_CRONTAB=${WORKSPACE_INSTALL_CRONTAB}
        - ARG_WORKSPACE_CRONTAB_CONFIG=${WORKSPACE_CRONTAB_CONFIG}
        - ARG_WORKSPACE_INSTALL_SUPERVISOR=${WORKSPACE_INSTALL_SUPERVISOR}
        - ARG_WORKSPACE_SUPERVISOR_CONFIG=${WORKSPACE_SUPERVISOR_CONFIG}
    environment:
      - RUN_ENV=${RUN_ENV}
      - CONTAINER_CODE_PATH=${CONTAINER_CODE_PATH}
      - APP_RUN_PUID=${APP_RUN_PUID}
      - APP_RUN_PGID=${APP_RUN_PGID}
      - APP_RUN_NAME=${APP_RUN_NAME}
      - APP_RUN_GROUP=${APP_RUN_GROUP}
      - WORKSPACE_CRONTAB_CONFIG=${WORKSPACE_CRONTAB_CONFIG}
      - WORKSPACE_SUPERVISOR_CONFIG=${WORKSPACE_SUPERVISOR_CONFIG}
    volumes:
      - ${LOCAL_CODE_PATH}:${CONTAINER_CODE_PATH}
      - code:${CONTAINER_CODE_PATH}
    #覆盖CMD的默认命令，和entrypoint不一样，有单独的entrypoint设置
    #entrypoint 设置后CMD命令将当作参数传入entrypoint
    entrypoint: "/usr/bin/entrypoint.sh"
    command: "/bin/bash"
    expose:
      - "28080"
    ports:
      - "${WORKSPACE_SWOOLE_PORT}:28080"
    networks:
      - backend
    tty: true
  consul:
    build:
      context: ${LOCAL_DOCKER_PATH}/consul
    environment:
      - RUN_ENV=${RUN_ENV}
    volumes:
      - ${LOCAL_DOCKER_PATH}/consul/run.sh:/consul/run.sh
      - ${LOCAL_DOCKER_PATH}/consul/config:/consul/config
      - ${LOCAL_CODE_PATH}/storage/consul:/consul/data
    command: /consul/run.sh
    ports:
      - "127.0.0.1:8500:8500"
    networks:
      - frontend
      - backend
  nginx:
    build:
      context: ${LOCAL_DOCKER_PATH}/nginx
      args:
        - ARG_CONTAINER_CODE_PATH=${CONTAINER_CODE_PATH}
        - ARG_APP_RUN_PUID=${APP_RUN_PUID}
        - ARG_APP_RUN_PGID=${APP_RUN_PGID}
        - ARG_APP_RUN_NAME=${APP_RUN_NAME}
        - ARG_APP_RUN_GROUP=${APP_RUN_GROUP}
        - ARG_TIMEZONE=${TIMEZONE}
    environment:
      - RUN_ENV=${RUN_ENV}
      - CONTAINER_CODE_PATH=${CONTAINER_CODE_PATH}
      - CONTAINER_DOCKER_PATH=${CONTAINER_DOCKER_PATH}
      - APP_RUN_PUID=${APP_RUN_PUID}
      - APP_RUN_PGID=${APP_RUN_PGID}
      - APP_RUN_NAME=${APP_RUN_NAME}
      - APP_RUN_GROUP=${APP_RUN_GROUP}
      - PHP_FPM_PORT=${PHP_FPM_PORT}
    volumes:
      - ${LOCAL_CODE_PATH}:${CONTAINER_CODE_PATH}
    command: ${CONTAINER_DOCKER_PATH}/nginx/run.sh
    expose:
      - "80"
      - "443"
    ports:
      - "${NGINX_HTTP_PORT}:80"
      - "${NGINX_SSL_PORT}:443"
    networks:
      - frontend
      - backend
    depends_on:
      - php-fpm
      - workspace
  php-fpm:
    build:
      context: ${LOCAL_DOCKER_PATH}/php-fpm
      args:
        - ARG_CONTAINER_CODE_PATH=${CONTAINER_CODE_PATH}
        - ARG_PHP_FPM_INSTALL_MONGODB=${PHP_FPM_INSTALL_MONGODB}
        - ARG_PHP_FPM_INSTALL_REDIS=${PHP_FPM_INSTALL_REDIS}
        - ARG_TIMEZONE=${TIMEZONE}
        - RUN_ENV=${RUN_ENV}
    environment:
      - RUN_ENV=${RUN_ENV}
      - CONTAINER_CODE_PATH=${CONTAINER_CODE_PATH}
      - CONTAINER_DOCKER_PATH=${CONTAINER_DOCKER_PATH}
      - APP_RUN_PUID=${APP_RUN_PUID}
      - APP_RUN_PGID=${APP_RUN_PGID}
      - APP_RUN_NAME=${APP_RUN_NAME}
      - APP_RUN_GROUP=${APP_RUN_GROUP}
    command: ${CONTAINER_DOCKER_PATH}/php-fpm/run.sh
    volumes:
      - ${LOCAL_CODE_PATH}:${CONTAINER_CODE_PATH}
    expose:
      - "9000"
    ports:
      - "${PHP_FPM_PORT}:9000"
    networks:
      - frontend